<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>RedisMon Dashboard</title>

    <script src="https://www.chartjs.org/dist/2.9.4/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body class="materialdesign">
    <script>
window.chartColors = {
  red: 'rgb(255, 99, 132)',
  orange: 'rgb(255, 159, 64)',
  yellow: 'rgb(255, 205, 86)',
  green: 'rgb(75, 192, 192)',
  blue: 'rgb(54, 162, 235)',
  purple: 'rgb(153, 102, 255)',
  grey: 'rgb(201, 203, 207)'
};

        var seed = 0;
        var config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [
                {
                    label: 'Redis Instance Ops',
                    backgroundColor: window.chartColors.yellow,
                    borderColor: window.chartColors.yellow,
                    data: [
                    ],
                    fill: false
                },
                {
                    label: 'Redis Memory RSS',
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: [
                    ],
                    fill: false
                },
                ]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'RedisMon Monitor'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Ops'
                        }
                    }]
                }
            }
        };

        var config2 = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Redis Memory RSS(GB)',
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: [
                    ],
                    fill: false
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: false,
                    text: 'RedisMon Monitor'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'rss'
                        }
                    }]
                }
            }
        };

        window.onload = function() {
            var ctx = document.getElementById('ops').getContext('2d');
            var ctx2 = document.getElementById('rss').getContext('2d');
            window.myLine = new Chart(ctx, config);
            window.myLine2 = new Chart(ctx2, config2);
            setInterval(updateChart, 5000);
        };

        function updateChart() {
            var oReq = new XMLHttpRequest();
            oReq.onload = function() {
                console.log(oReq.responseText);
                var result = JSON.parse(oReq.responseText);
                config.data.labels = result.data.labels;
                config.data.datasets[0].data = result.data.commands;
                config2.data.labels = result.data.labels;
                config2.data.datasets[0].data = result.data.rss;
                window.myLine.update();
                window.myLine2.update();
            }
            oReq.open('GET', "http://192.168.0.103:5000/api/v1/info");
            oReq.send();

        }
    </script>
    <div class="flot-chart flot-chart-dashtwo">
         <canvas id="ops"></canvas>
    </div>
    <div class="flot-chart flot-chart-dashtwo">
         <canvas id="rss"></canvas>
    </div>
    <div class="flot-chart flot-chart-dashtwo">
<table class="table">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
    </div>
</body>
</html>
